.container{
    background-color: rgb(107 149 178 / 10%);
    border-top: 1px solid #45286b;
    border-left: 1px solid #45286b;
    border-right: 1px solid #da5b11;
    border-bottom: 1px solid #da5b11;
    border-radius: 15px;
}

.formContainer{  
    width: 50%;
    margin: 5% auto;
    padding: 50px 100px 70px 0;
}

.userRegisterForm{
    padding: 25px 100px 25px 0;
}

.userRegisterConfirmForm{
    padding: 25px 0;
}

.formContainerHeading{
    text-align: center;
    margin-bottom: 40px!important;
}

.formContainerSubHeading {
    text-align: center;
    margin-bottom: 20px !important;
    margin-top: 40px !important;
}

.primaryBtn{
    background-color: #45286b;
    border-radius: 5px;
}

.primaryBtn:hover{
    background-color: #5e4586;
}

.userConfirmFormCol{
    padding-left: 5%;
    box-sizing: border-box;
}

.confirmBtn{
    margin: 25px auto;
}

.deleteBtn, .deleteBtn:hover {
    border-color: red;
    color: red;
}